body{
    background: #f5f1da;
    margin: 0;
    padding: 0 5% 5% 5%;
}

p{
    font-family: sans-serif;
    line-height: 1.5;
}

.team{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, 320px);
	gap: 25px;
	justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
h1{
    background: #00416d;
    color: white;
    padding: 1%;
    font-size: 3rem;
    font-family: monospace;
}

h2, h3{
    font-family: monospace;
    font-size: 2rem;
}

.post{
    border:1px solid yellowgreen;
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    padding: 10px;
}

.text{
    padding: 20px;
}

.post:hover{
    transform: scale(1.1);
}
.thumbnail{
    display: block;
	width: 100%;
	height:70%;
    object-fit: cover;
}
